.isFilled{
  fill: #f9595f;
}

.modal-footer {
  border-top: 0 none;
}

.modal-dialog {
  margin-top: 150px;
}

.btn-group > .btn.active {
  z-index: unset !important;
}

/*pos feedback*/
.full-page {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ecedf3;
}

p > img {
  margin: 24px 0 18px 0;
  max-width: 100%;
}

/* .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: #8064A2 !important;
} */
