@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif !important;
}

.isFilled{
  fill: #f9595f;
}

.error-text {
  color: #ee2a42;
}

.modal-footer {
  border-top: 0 none;
}

.modal-dialog {
  margin-top: 150px;
}

.btn-group > .btn.active {
  z-index: unset !important;
}

/*pos feedback*/
.full-page {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ecedf3;
}

p > img {
  margin: 24px 0 18px 0;
  max-width: 100%;
}

.favorites-btn {
  background: #FF616E;
  color: white;
  transition: .2s all;
}

.favorites-btn:hover {
  background: #ff7e88;
  color: white;
}

/* .btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: #8064A2 !important;
} */

/***********************/
/* TABLE */
/***********************/

.book-table--blue {
  color: white;
  border-radius: 10px;
  background: #4087ea;
  /* background: -moz-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%); */
  /* FF3.6+ */
  /* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #533ce1), color-stop(100%, #4087ea)); */
  /* Chrome,Safari4+ */
  /* background: -webkit-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%); */
  /* Chrome10+,Safari5.1+ */
  /* background: -o-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%); */
  /* Opera 12+ */
  /* background: -ms-radial-gradient(center, ellipse cover, #533ce1 0%, #4087ea 100%); */
  /* IE10+ */
  background: radial-gradient(ellipse at center, #533ce1 0%, #4087ea 100%);
  /* W3C */
  background-size: 250% 250%;
}

.book-table--blue tbody tr:nth-child(odd) {
  background-color: #608bec;
}

.book-table--azure {
  color: white;
  border-radius: 10px;
  background: #36AFEC;
  /* background: -moz-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%); */
  /* FF3.6+ */
  /* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2D7CE7), color-stop(100%, #36AFEC)); */
  /* Chrome,Safari4+ */
  /* background: -webkit-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%); */
  /* Chrome10+,Safari5.1+ */
  /* background: -o-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%); */
  /* Opera 12+ */
  /* background: -ms-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%); */
  /* IE10+ */
  background: radial-gradient(ellipse at center, #2D7CE7 0%, #36AFEC 100%);
  /* W3C */
  background-size: 250% 250%;
}

.book-table--azure tbody tr:nth-child(odd) {
  background-color: #51aaed;
}

.book-table--orange {
  color: #423E31;
  border-radius: 10px;
  background: #ffb33b;
  /* background: -moz-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%); */
  /* FF3.6+ */
  /* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ff5221), color-stop(100%, #ffb33b)); */
  /* Chrome,Safari4+ */
  /* background: -webkit-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%); */
  /* Chrome10+,Safari5.1+ */
  /* background: -o-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%); */
  /* Opera 12+ */
  /* background: -ms-radial-gradient(center, ellipse cover, #ff5221 0%, #ffb33b 100%); */
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ff5221 0%, #ffb33b 100%);
  /* W3C */
  background-size: 250% 250%;
}

.book-table--orange tbody tr:nth-child(odd) {
  background-color: #ffad54;
}

.book-table--violet {
  color: white;
  border-radius: 10px;
  /* background: #56ab91; */
  background: #8367c7;
  /* background: -moz-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%); */
  /* FF3.6+ */
  /* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2D7CE7), color-stop(100%, #36AFEC)); */
  /* Chrome,Safari4+ */
  /* background: -webkit-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%); */
  /* Chrome10+,Safari5.1+ */
  /* background: -o-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%); */
  /* Opera 12+ */
  /* background: -ms-radial-gradient(center, ellipse cover, #2D7CE7 0%, #36AFEC 100%); */
  /* IE10+ */
  /* background: radial-gradient(ellipse at center, #025858 0%, #56ab91 100%); */
  background: radial-gradient(ellipse at center, #5603ad 0%, #8367c7 100%);
  /* W3C */
  background-size: 250% 250%;
}

.book-table--violet tbody tr:nth-child(odd) {
  background-color: #8367c7;
}

/***********************/
/* GET RECOMMENDATIONS */
/***********************/

.autocomplete {
  position: relative;
  /* display: inline-block; */
}

.autocomplete input[type=text] {
  background-color: #f1f1f1;
  color: #5c6268;
}

.autocomplete input[type=text]:focus {
  background-color: #ffffff;
  /* border-color: #fc606d;
  box-shadow: 0 0 0 .2rem #fcacb2; */
  color: #333;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 50;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: dodgerblue !important;
  color: #fff;
}

/***********************/
/* GENERIC FORM */
/***********************/

.logo-inpage {
  width: 40px;
  height: 25px;
  background-color: #4e94ff;
  margin-bottom: 50px;
}

.flex-column-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generic-form-wrapper {
  background-color: #f2f6ff;
}

.generic-form {
  background-color: white;
  width: 580px;
  box-shadow: 1px 4px 10px -3px rgba(0,0,0,0.1);
  border-radius: 1rem;
}

.generic-form button {
  border-radius: 8px;
}

.generic-form .form-group input,
.signup-wrapper .form-group input {
  border: 1.5px solid #f2f6ff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.generic-form .form-group input::placeholder {
  color: #5e7491;
}

.sign-in-btn {
  background-color: #267fff;
  height: 50px;
}

.sign-in-btn:hover {
  background-color: #2170e0;
}

/***********************/
/* SIGNUP */
/***********************/
.sign-up-have-acc {
  margin-left: calc(17% + 3rem);
  margin-right: auto;
}

.signup-wrapper {
  width: 66%;
}

.signup-wrapper .form-group {
  margin-bottom: 32px;
}

.signup-wrapper .form-group input{
  height: 60px;
}

.sign-up-btn {
  background-color: #2028eb;
  height: 70px;
  border-radius: 8px;
}

.sign-up-btn:hover {
  background-color: #1d23c9;
}

/***********************/
/* MEDIA QUERIES */
/***********************/

@media only screen and (max-width: 1400px) {
  .signup-wrapper {
    width: 80%;
  }

  .sign-up-have-acc {
    margin-left: calc(10% + 3rem);
  }
}

@media only screen and (max-width: 580px) {
  .generic-form {
    width: 100%;
  }

  .signup-wrapper {
    width: 100%;
  }

  .sign-up-have-acc {
    margin-left: 3rem;
  }
}
