<table class="mx-auto w-75 table table-striped table-bordered">
  <thead>
    <tr style="background-color: #6b7ae0; color: white">
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Publisher</th>
      <th scope="col">Main Topic</th>
      <th scope="col">Add to Favorites</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <th scope="row">{{ book.title }}</th>
      <td>{{ book.author }}</td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.maintopic }}</td>
      <td>
        <a class="toggle-fav-btn" href="" data-href="/fav/{{ book.id }}" role="button" aria-label="Toggle favorite">
          <svg class="heart" style="width: 25px; height: 25px">
            <use xlink:href="../static/heart.svg#Capa_1"></use>
          </svg>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
