<table class="mx-auto w-75 table {{ book_class }} table-borderless">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Publisher</th>
      <th scope="col">Main Topic</th>
      <th scope="col" class="text-center">Add to Favorites</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <th scope="row">{{ book.title }}</th>
      <td>{{ book.author }}</td>
      <td>{{ book.publisher }}</td>
      <td>{{ book.maintopic }}</td>
      <td class="text-center">
        <a class="toggle-fav-btn" href="" data-href="/fav/{{ book.id }}" role="button" aria-label="Toggle favorite">
          <!-- <svg class="heart {% if book['is_starred'] == 'True' %}isFilled{% endif %}" style="width: 25px; height: 25px">
            <use xlink:href="../static/heart.svg#Capa_1"></use>
          </svg> -->
          {% if book['is_starred'] == 'True' %}
            <img id="heart-img" width="25px" height="25px" src="../static/heart-filled.png" alt="Remove from favorites">
          {% else %}
            <img id="heart-img" width="25px" height="25px" src="../static/heart-empty.png" alt="Add to favorites">
          {% endif %}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
