<form
  action="/change-password" method="post"
  id="change-password-modal"
  style="display: block"
  class="mt-5 form w-50 border border-secondary p-4 mx-auto"
>
  <h3 class="text-center">CHANGE PASSWORD</h3>
  {% if change_psw_msg %}
    <h4>{{ change_psw_msg }}</h4>
  {% endif %}
  <div class="form-group">
    <label for="old-pswd">Old Password</label>
    <input minlength="5" maxlength="20" type="password" id="old-pswd" name="old-pswd" class="form-control" />
  </div>
  <div class="form-group">
    <label for="new-pswd">New Password</label>
    <input minlength="5" maxlength="20" type="password" id="new-pswd" name="new-pswd" class="form-control" />
  </div>
  <div class="form-group">
    <label for="cnfrm-pswd">Confirm Password</label>
    <input minlength="5" maxlength="20" type="password" name="cnfrm-pswd" class="form-control" />
  </div>
  <div class="password error"></div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<script>
  var changePswdBtn = document.querySelector("#change-password");
  if (changePswdBtn) {
    var modal = document.querySelector("#change-password-modal");
    changePswdBtn.addEventListener("click", function () {
      if (modal) {
        modal.style.display = "block";
      } else {
        console.log('Couldnt find the modal')
      }
    });
    document.addEventListener("click", function (e) {
      //TODO
      console.log("TODO")
    });
  } else {
    console.log("Couldn't find the change pswd btn")
  }
</script>
