<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="change-password-form" class="form p-4 rounded">
        <div class="modal-header">
          <h3 class="text-center">CHANGE PASSWORD</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center mb-2" id="message" style="width: 100%; height: 24px;"></div>
          <div class="form-group">
            <label for="old-pswd">Old Password</label>
            <input minlength="5" maxlength="20" type="password" id="old-pswd" name="old-pswd" class="form-control" />
          </div>
          <div class="form-group">
            <label for="new-pswd">New Password</label>
            <input minlength="5" maxlength="20" type="password" id="new-pswd" name="new-pswd" class="form-control" />
          </div>
          <div class="form-group">
            <label for="cnfrm-pswd">Confirm Password</label>
            <input minlength="5" maxlength="20" type="password" id="cnfrm-pswd" name="cnfrm-pswd"
              class="form-control" />
          </div>
          <div class="password error"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const form = document.querySelector('#change-password-form');
  if (form) {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const data = {};
      const oldPswd = document.getElementById('old-pswd');
      const newPswd = document.getElementById('new-pswd');
      const cnfrmPswd = document.getElementById('cnfrm-pswd');
      data['old-pswd'] = oldPswd.value;
      data['new-pswd'] = newPswd.value;
      data['cnfrm-pswd'] = cnfrmPswd.value;
      response = await fetch('/change-password', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        },
      });
      const msg = await response.json();
      const msgElem = document.querySelector('#message');
      msgElem.textContent = msg;
      if (response.status === 200) {
        msgElem.style.color = 'green';
        oldPswd.value = '';
        newPswd.value = '';
        cnfrmPswd.value = '';
      }
      else msgElem.style.color = 'red';

    });
  }
</script>
