
<div id="modal-wrapper">
  <div id="modal-bg"></div>
  <form
    action="/change-password" method="post"
    id="change-password-form"
    class="mt-5 form w-50 border border-secondary p-4 mx-auto"
  >
    <h3 class="text-center">CHANGE PASSWORD</h3>
    <div class="text-center" id="message" style="width: 100%; height: 24px;"></div>
    <div class="form-group">
      <label for="old-pswd">Old Password</label>
      <input minlength="5" maxlength="20" type="password" id="old-pswd" name="old-pswd" class="form-control" />
    </div>
    <div class="form-group">
      <label for="new-pswd">New Password</label>
      <input minlength="5" maxlength="20" type="password" id="new-pswd" name="new-pswd" class="form-control" />
    </div>
    <div class="form-group">
      <label for="cnfrm-pswd">Confirm Password</label>
      <input minlength="5" maxlength="20" type="password" id="cnfrm-pswd" name="cnfrm-pswd" class="form-control" />
    </div>
    <div class="password error"></div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<script>
  var changePswdBtn = document.querySelector("#change-password");
  if (changePswdBtn) {
    var modal = document.querySelector("#modal-wrapper");
    changePswdBtn.addEventListener("click", function () {
      if (modal) {
        modal.style.display = "block";
        // modal.classList.add('show');
      } else {
        console.log('Couldnt find the modal')
      }
    });
    document.addEventListener("click", function (e) {
      const modalBg = document.querySelector('#modal-bg');
      // console.log(e.target);
      if (e.target === modalBg) {
        modal.style.display = 'none';
      }
    });
  } else {
    console.log("Couldn't find the change pswd btn")
  }

  const form = document.querySelector('#change-password-form');
  if (form) {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const data = {};
      data['old-pswd'] = document.getElementById('old-pswd').value;
      data['new-pswd'] = document.getElementById('new-pswd').value;
      data['cnfrm-pswd'] = document.getElementById('cnfrm-pswd').value;
      response = await fetch('/change-password', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
        'Content-Type': 'application/json'
        },
      });
      const msg = await response.json();
      const msgElem = document.querySelector('#message');
      msgElem.textContent = msg;
      if (response.status === 200) msgElem.style.color = 'green';
      else msgElem.style.color = 'red';

    });
  }
</script>
