<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Home</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      {% if session.logged_in %}
        <ul class="navbar-nav mr-auto mb-lg-0">
            <li class="nav-item" id="change-password" style="cursor: pointer;">
              <span>
                <a style="color: #333;">Change Password</a>
              </span>
            </li>
        </ul>

        <span class="navbar-brand" style="color: rgb(199, 57, 187);">Welcome {{ session.username }}</span>

        <span class="navbar-text">
          <a class="text-primary" href="/favorites">Favorites</a>
        </span>
        <span class="navbar-text ml-4">
          <a class="" href="/logout">Logout</a>
        </span>
      {% else %}
        <ul class="navbar-nav mr-auto mb-lg-0">
          <li class="nav-item" style="cursor: pointer;">
            <!-- <a class="nav-link" href="/users/{{userid}}/changepassword">Change Password</a> -->
            <a class="" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item ml-0 ml-lg-3" style="cursor: pointer;">
            <a class="" href="/login">Login</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
