{% extends 'base.html'%}

{% block main %}
{% if recommended_books %}
  <div class="container text-center mt-4 mb-3">
    <h2>Recommended books for <span class="font-weight-bold">{{ book_title }}</span> are:</h2>
  </div>
  {% with books=recommended_books %}
    {% include "_book-table.html" %}
  {% endwith %}
{% else %}
  <div class="container text-center mt-5">
    <h1>Couldn't find the book with title <span class="font-weight-bold">{{ book_title }}</span></h1>
  </div>
{% endif %}
{% endblock %}
