{% extends 'base.html'%}
{% block main %}
  {% if session.logged_in %}
    {% include '_get-recommendations.html' %}
    <div class="container">
      <hr class="mb-1"/>
      <h1 class="text-center display-3 mt-1 mb-3">Books</h1>
    </div>

    {% with books=books.items, book_class="book-table--blue" %}
      {% include "_book-table.html" %}
    {% endwith %}

<div class="text-center mb-0 mb-sm-4 mt-4">
  <a href="/{{ books.prev_num }}"
    class="btn btn-outline-dark 
    {% if books.page == 1 %}disabled{% endif %}">
      &laquo;
  </a>
  {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if books.page == page_num %}
          <a href="/{{ page_num }}"
            class="btn btn-dark">
              {{ page_num }}
          </a>
      {% else %}
          <a href="/{{ page_num }}"
            class="btn btn-outline-dark">
              {{ page_num }}
          </a>
      {% endif %}
    {% else %}
          ...
    {% endif %}
  {% endfor %}
  <a href="/{{ books.next_num }}"
    class="btn btn-outline-dark 
    {% if books.page == books.pages %}disabled{% endif %}">
      &raquo;
  </a>
</div>

    {% include '_change-password.html' %}

  {% else %}
    <div class="text-center">
      <h1>HOME PAGE</h1>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="../static/toggle_fav.js"></script>
{% endblock %}
