{% extends 'base.html'%}
{% block main %}
  {% if session.logged_in %}
    {% include '_get-recommendations.html' %}
    <div class="container">
      <hr />
      <h1 class="text-center display-3 mt-4 mb-3">Books</h1>
    </div>

    {% with books=books.items %}
      {% include "_book-table.html" %}
    {% endwith %}

    <div class="text-center mx-auto">
      <div class="btn-group" style="width: 200px;">
        {% if books.has_prev %}
          <a
            class="page-link btn btn-secondary btn-sm active"
            role="button"
            href="{{ url_for('index', page=books.prev_num) }}">
              Prev Page
          </a>
        {% endif %}
        {% if books.has_next %}
          <a
            class="page-link btn btn-primary btn-sm active"
            role="button"
            href="{{ url_for('index', page=books.next_num) }}">
              Next Page
          </a>
        {% endif %}
      </div>
    </div>

    {% include '_change-password.html' %}

  {% else %}
    <div class="text-center">
      <h1>HOME PAGE - UPDATE LATER</h1>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="../static/toggle_fav.js"></script>
{% endblock %}
