{% extends 'base.html'%}
{% block main %}
  <h1 class="text-center mt-5 mb-4">Movies</h1>

  <table class="mx-auto w-75 table table-borderless book-table--purple">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Genre</th>
        <th scope="col">Director</th>
        <th scope="col">Writer</th>
        <th scope="col">Actors</th>
        <th scope="col">Rating</th>
        <th scope="col">Company</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies.items %}
      {% set outer_loop = loop %}
      <tr class="{{ 'darker-purple-bckgrnd' if ((outer_loop.index0|int) % 2) == 1 }}">
          <th scope="row">{{ movie.title }}</th>
          <td>{{ movie.year }}</td>
          <td>{{ movie.genre }}</td>
          <td>{{ movie.director }}</td>
          <td>{{ movie.writer }}</td>
          <td>{{ movie.actors }}</td>
          <td>{{ movie.rating }}</td>
          <td>{{ movie.company }}</td>
          <td>
            <button
              type="button"
              class="btn"
              data-toggle="collapse"
              data-target="#collapse{{ outer_loop.index0 }}"
              style="font-weight: bold; color: #F2E911"
              >
              Toggle Suggested Movies
            </button>
          </td>
          <!-- <td>{{ loop.index0 }}</td> -->
      </tr>
      {% for recom in recoms[outer_loop.index0] %}
      <tr id="collapse{{ outer_loop.index0 }}" class="collapse out book-table--orange">
          <th scope="row">{{ recom.title }}</th>
          <td>{{ recom.year }}</td>
          <td>{{ recom.genre }}</td>
          <td>{{ recom.director }}</td>
          <td>{{ recom.writer }}</td>
          <td>{{ recom.actors }}</td>
          <td>{{ recom.rating }}</td>
          <td>{{ recom.company }}</td>
          <td></td>
        </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  
  <div class="mx-auto w-75 text-right mb-4 pagin">
    {% with items=movies, path="/movies/" %}
      {% include "_pagination.html" %}
    {% endwith %}
  </div>
{% endblock %}
{% block scripts %}
{% endblock %}
